<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="antitheft.mobile.find">

    <!-- Required permissions for all ads. This will apply for all ads. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/> -->
    <application
        android:name="antitheft.mobile.find.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">
        <activity
            android:name="antitheft.mobile.find.ui.MainActivity"
            android:theme="@style/MainTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="antitheft.mobile.find.ui.LockPhoneViaSmsActivity"
            android:label="@string/title_activity_lock_phone_via_sms"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="antitheft.mobile.find.ui.RingSilentPhoneActivity"
            android:label="@string/ring_silent_phone"

            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="antitheft.mobile.find.ui.PhoneCurrentLocationActivity"
            android:label="@string/phone_location"

            android:windowSoftInputMode="stateHidden" />
        <activity
            android:label="@string/anti_theft_security"

            android:name="antitheft.mobile.find.ui.AntiTheftSecurityActivity"
            android:windowSoftInputMode="stateHidden" />

        <!-- BEGIN_INCLUDE(device_admin_declaration) -->
        <receiver
            android:name="antitheft.mobile.find.receiver.DeviceAdminReceiverLockPhone"
            android:description="@string/lost_phone_admin"
            android:label="@string/lost_phone_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/security_policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <!-- END_INCLUDE(device_admin_declaration) -->

        <receiver
            android:name="antitheft.mobile.find.receiver.SMSReceiver"
            android:permission="android.permission.BROADCAST_SMS"
            android:priority="99999">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver android:name="antitheft.mobile.find.receiver.SimChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SIM_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="antitheft.mobile.find.ui.RingingActivity"
            android:parentActivityName="antitheft.mobile.find.ui.MainActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="antitheft.mobile.find.ui.MainActivity" />
        </activity>

        <service
            android:name="antitheft.mobile.find.service.MediaPlayerService"
            android:enabled="true"
            android:exported="true">

        </service>

        <service
            android:name="antitheft.mobile.find.service.LocationService"
            android:enabled="true"
            android:exported="true">

        </service>
    </application>

</manifest>